/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

/* Colors for brand */
.blue {
    color: #537fbe;
}

.red {
    color: #ea433b;
}

.yellow {
    color: #f5b82e;
}

.green {
    color: #2e944b;
}

th {
    background-color: #0d6efd;
    width: 10%;
    border: 1px solid grey;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid;
}

tfoot {
    background-color: grey;
    color: white;
}

td {
    width: 10%;
    border: 1px solid grey;
}


h2 {
    color: white;
    display: flex;
    justify-content: center;
}

h3 {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 20px
}

#block {
    border-style: solid;
    border-color: red;
    border-top-right-radius: 20px
}

.gap {
    padding: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

.wrapper_team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

.card-footer {
    display: flex;
    justify-content: center
}


#team-card {
    background-color: #f8f7e9;
    color: black;
}


#team-card:hover {
    background-color: black;
    color: white;
}

#team-card:hover .team_logo {
    background-color: white;
    color: black;
}


.next_race {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.text-success:hover {
    background-color: white;
}

.text-warning:hover {
    background-color: white;
}

.text-info:hover {
    background-color: white;
}

.page_header {
    background-color: #003772;
    border-radius: 7px;
    color: white;
    padding: 20px;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo {
    width: 20%;
    height: auto;
    padding: 5px;
}

.team_logo {
    width: auto;
    height: 35px;
    padding: 5px;
}

.index_logo {
    width: 30%;
    height: auto;
    padding: 5px;
}

.map_logo {
    width: 90%;
    height: auto;
    padding: 5px;
}

.driver_logo {
    width: auto;
    height: 150px;
    padding: 5px;
}

tr:hover,
td:hover {
    background-color: coral !important;
    color: white !important;
}

.driver_header {
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
}

.constructor {
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

.constructor_header {
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
}

#Yes {
    background-color: #90EE90;
}

#No {
    background-color: #f46f37;
}

#_1 {
    background-color: #63BE7B;
}

#_2 {
    background-color: #85C87D;
}

#_3 {
    background-color: #A8D27F;
}

#_4 {
    background-color: #CBDC81;
}

#_5 {
    background-color: #EDE683;
}

#_6 {
    background-color: #FFDD82;
}

#_7 {
    background-color: #FDC07C;
}

#_8 {
    background-color: #FCA377;
}

#_9 {
    background-color: #FA8671;
}

#_10 {
    background-color: #F8696B;
}

.outline {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
