{% extends "layout.html" %}

{% block title %}
    Cameras
{% endblock %}

{% block main %}

<body class="bg-grey">

    <div class="card text-muted mb-3">
        <div class="card-header">
            <h4 class="page_header"> Live camera feeds </h4>
            <h5> ... </h5>
        </div>
        <div class="card-body">
            <p class="text-secondary">
                
            </p>
            
            <p class="text-danger">
               
            </p>
            
            <p class="text-primary">
                
            </p>
        </div>
        <div class="card-footer">
           
        </div>
    </div>
    
</body>


{% endblock %}
