{% extends "layout.html" %}

{% block title %}
    Photographs
{% endblock %}

{% block main %}

<body class="bg-grey">

    <div class="card text-muted mb-3">
        <div class="card-header">
            <h4 class="page_header"> Photographs </h4>
            <h5> Delighted to receive your photographs to display on this site  (please send to Michael - email mh@22mh.com)</h5>
        </div>
        <div class="card-body">
            <p class="text-secondary">
                Anything about this lovely area we live in - which
                will be of interest to viewers of buxtonweather.co.uk - I will always credit the
                sender - (and I may take the liberty of adding some local information, and local
                history!). 
            </p>
            
            <p class="text-danger">
                Photos relating to our weather, local events, our wonderful Peak
                District scenery, local animals and birds, love of the great outdoors - or what
                have you!! I may delay posting photos, through extreme weather events - will
                save them for once things calm down again! (My website providers go bananas when
                20, 30, 40,000 page loads, land on the site in 8 hours!) 
            </p>
            
            <p class="text-primary">
                Please click on a photo to see the
                full size versions of all the photos - then just click the back arrow at the top
                left, to come back to here
            </p>
        </div>
        <div class="card-footer">
            I have had requests to see photos which have been removed - so from April 1st
            2019, I have started an archive of a varied selection of the previously shown photographs
            CLICK HERE to see those
        </div>
    </div>
    
</body>


{% endblock %}
